*~
*.deps/
/src/*.o
/po/*.gmo
/po/stamp-it
Makefile.in
Makefile
/configure
/stamp-h1
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/config.guess
/libtool
/aclocal.m4
/compile
/src/rainbow-cm
/data/rainbow-cm-startup.desktop
/data/rainbow-cm.desktop
/autom4te.cache/
