*.deps/
*~
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache/
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/data/rainbow-cm-startup.desktop
/data/rainbow-cm.desktop
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/m4/
/po/*.gmo
/po/.intltool-merge-cache
/po/.intltool-merge-cache.lock
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/stamp-it
/src/*.o
/src/rainbow-cm
/stamp-h1
Makefile
Makefile.in
